<html>
<title><%= title %></title>
<style type="text/css" media="screen">
body {
  font-family: "Gill Sans", Helvetica, Arial;
}
label {
  margin-top: 10px;
  display: block;
}
</style>
<body>
<div><a href="/">Home</a> | <a href="/recipes">Recipe List</a></div>
<%- body %>

</body>
</html>