<h1><%= name %></h1>

<h2>Ingredients</h2>
<ul>
<% ingredients.forEach(function(ingredient){ %>
  <li><%= ingredient %></li>
<% }) %>
</ul>

<h2>Directions</h2>
<p><%= directions %></p>

<p><a href="/recipes/suggest"><%= suggestRecipeLink%></a></p>